# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
/build

# production
/dist

# env (NEVER commit)
.env
.env.local
.env.production
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# netlify local link state
.netlify/

# editor
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# prisma
/prisma/migrations/dev.db

# tsbuildinfo
*.tsbuildinfo
next-env.d.ts
